<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rapticon.tk.apkuas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APKUAS" >
        <activity android:name=".JenisCuti"
            android:parentActivityName=".Login.Login_Karyawan"></activity>

        <activity android:name=".Cuti.CutiTahunan"
            android:parentActivityName=".JenisCuti"></activity>

        <activity android:name=".Cuti.CutiSakit"
            android:parentActivityName=".JenisCuti"></activity>

        <activity android:name=".Cuti.CutiDarurat"
            android:parentActivityName=".JenisCuti"></activity>

        <activity android:name=".Login.Login_Hrd"
            android:parentActivityName=".MainActivity"></activity>

        <activity android:name=".Login.Login_Manager"
            android:parentActivityName=".MainActivity"></activity>

        <activity android:name=".Login.Login_Supervisor"
            android:parentActivityName=".MainActivity"></activity>

        <activity android:name=".Login.Login_Karyawan"
            android:parentActivityName=".MainActivity"></activity>


        <activity android:name=".Data"
            android:parentActivityName=".Cuti.CutiTahunan"></activity>

        <activity android:name=".EditKaryawan"
            android:parentActivityName=".Data"></activity>


        <activity android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>